@font-face {
	font-family: "MA";
	src:url(montserrat_alternates/MontserratAlternates-Bold.ttf);
	src:url(montserrat_alternates/MontserratAlternates-Regular.ttf);
}

.about-container {
	position: relative;
	top:-4px;
	height: 600px;
	width: 100%;
	background-image: url(pictures/about.jpg);
	background-color: #d4d7d7;
}

.shell {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 300px;
    height: 100%;
    width: 70%;
    text-align: center;
}

.shell h2{
	position: relative;
	top:15%;
	display: block;
	margin: 0px;
	padding: 0px;
	color: #fff;
    font-family: "MA", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 60px;
}

.shell hr {
	position: relative;
	top:16%;
    width: 111px;
    height: 0;
    border-top: 1px solid #ffffff4d;
    display: block;
    box-sizing: content-box;
}

.p-container {
	display: block;
	position: relative;
	padding-top:50px;
	top:17%;
	font-size: 26px;
    font-weight: 400;
    line-height: 1.15385;
    letter-spacing: .02em;
    color: #fff;
}

.btn {
	margin-top: 15%;
	color: #181919;
    border-color: #989b9b;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    border: 0;
    font-size: 15px;
    line-height: 30px;
    transition: .3s all ease-out;
    display: inline-block;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 14px 51px;
}

.btn-default:hover{
	color: #fff;
    background: #44abf0;
    text-decoration: none;
    border-color: #44abf0;
}





/*.slider_container {
	width: auto;
	height: 577px;
	position: relative;
	top:-4px;
}

.slider_container img {
	position: absolute;
	width: 100%;
    height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

.slider_container :nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container :nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container :nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container :nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container :nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}

@-webkit-keyframes round {
	4% {
		opacity: 1;
		filter: alpha(opacity=100);
	}

	20% {
		opacity: 1;
		filter: alpha(opacity=100);
	}

	24% {
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

@keyframes round {
	4% {
		opacity: 1;
		filter: alpha(opacity=100);
	}

	20% {
		opacity: 1;
		filter: alpha(opacity=100);
	}

	24% {
		opacity: 0;
		filter: alpha(opacity=0);
	}
}*/



